doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="/stylesheets/genericoListas.css")
    //link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    title contactos

  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
              form(action="verListaContacto"  method='POST')
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
                button(type="submit" class="btnMenu") Contactos
          if usuario.tipoUsuario == 1          
            a 
              form(action="verListaUsuarios"  method='POST')
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
                button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️  

    #main-container
      label(class="lblListaUnidades" ) Lista de contactos
      br
      br
      form.col-12(action="reporteUsuarios"  method='POST' name="Id")
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
        button(type="submit" class="btnReporte" ) Generar reporte
      if usuario.tipoUsuario == 1 
        form.col-12(action="nuevoContacto"  method='POST' name="Id")
          input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
          button(type="submit" class="bntNuevoLista" ) Agregar Contacto
      br
      br
      table
        thead(class="p")
          
          tr
            //th Id
            th Oficina        
            th Puesto
            th Nombre Contacto
            th Telefono
            th Ext.Telefono
            th Accion

                  
        tbody        
        each lu in listaContactos    
          tr
            //td= lu.IdUsuario
            td= lu.nombreOficina           
            td= lu.nombrePuesto
            td= lu.nombreContacto
            td= lu.telefonoOficina
            td= lu.extTelefono
                         
            td
              form.col-12(action="verContacto"  method='POST')
                input(type='hidden' value= lu.idContacto   name="IdContacto")
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
                button(type="submit" class="btnVerUnidad" ) Ver contacto      

          

