doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centros de Costo
    link(rel='stylesheet' href='/stylesheets/genericoListas.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a          
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario") 
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaContactos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Contactos  
          a 
            form(action="verListaOficinas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Oficinas    
          a 
            form(action="verListaPuestos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Puestos                                               
          if usuario.tipoUsuario == 1          
            a 
              form(action="verListaUsuarios"  method='POST')
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
                button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️


    #main-container
      label(class="lblListaUnidades" ) Lista de Centros de Costo
      
   

      form.col-12(action="buscarCentroCosto"  method='POST' name="Id")
         
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")      
        input( placeholder = 'Referencia' value = valor class="textBuscar" name="valor")  
        label(class="lblBuscarPor") buscar por 
        //selected=true
        select(class="SelectBusqueda" name = "tipo")
          if tipo == 1
            option(class="opt" value = 1 selected=true) Todos
          else 
            option(class="opt" value = 1 ) Todos
          if tipo == 2
            option(class="opt" value = 2 selected=true) UDN
          else 
            option(class="opt" value = 2 ) UDN
          if tipo == 3 
            option(class="opt" value = 3 selected=true) Empresa
          else 
            option(class="opt" value = 3) Empresa
                      
          if tipo == 4
             option(class="opt" value = 4 selected=true) Franquicia 
          else 
             option(class="opt" value = 4) Franquicia

          if tipo == 5
            option(class="opt" value = 5 selected=true) Tipo de unidad
          else 
            option(class="opt" value = 5) Tipo de unidad

          if tipo == 6
            option(class="opt" value = 6 selected=true) Nombre Centro de Costo
          else 
            option(class="opt" value = 6) Nombre Centro de Costo

          if tipo == 7
            option(class="opt" value = 7 selected=true) Nombre Gerente
          else
            option(class="opt" value = 7) Nombre Gerente
          
          if tipo == 8
            option(class="opt" value = 8 selected=true) Mail del gerente 
          else
            option(class="opt" value = 8) Mail del gerente 

          if tipo == 9
            option(class="opt" value = 9 selected=true) Nombre del subgerente
          else
            option(class="opt" value = 9) Nombre del subgerente       
          
          if tipo == 10
            option(class="opt" value = 10 selected=true) Telefono
          else
            option(class="opt" value = 10) Telefono          
          
          if tipo == 11
            option(class="opt" value = 11 selected=true) Direccion
          else
            option(class="opt" value = 11) Direccion 

          if tipo == 12
            option(class="opt" value = 12 selected=true) Estado
          else
            option(class="opt" value = 12) Estado                             
          
          if tipo == 13
            option(class="opt" value = 13 selected=true) Ciudad
          else
            option(class="opt" value = 13) Ciudad                           
                    
          if tipo == 14
            option(class="opt" value = 14 selected=true) Colonia
          else
            option(class="opt" value = 14) Colonia 

          if tipo == 15
            option(class="opt" value = 15 selected=true) Codigo Postal
          else
            option(class="opt" value = 15) Codigo Postal               
          
          
           
          
            
        button(type="submit" class="btnBuscar" ) Buscar 

      form.col-12(action="reporteCentroCosto"  method='POST' name="Id")
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
        input(type='hidden' value= usuario.IdFranquicia   name="IdFranquicia")
        button(type="submit" class="btnReporte" ) Generar reporte
      if usuario.tipoUsuario == 1 || usuario.tipoUsuario == 2 
        form.col-12(action="nuevoCentroCosto"  method='POST' name="Id")
          input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
          input(type='hidden' value= 1   name="agregar")
          button(type="submit" class="bntNuevoLista" ) Agregar Centro de Costo
      //if usuario.IdFranquicia > 0 
        form.col-12(action="verMisCentrosCosto"  method='POST' name="Id")
          input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
          input(type='hidden' value= usuario.IdFranquicia   name="IdFranquicia")
          button(type="submit" class="btnMisCC" ) Ver mis Centros de Costo     


      label(class="lblResultados") Se encontraron #{contResultados} resultados
      table
        //caption Statement Summary
        thead
          tr
            th UDN
            th Nombre
            th Estado
            th Ciudad
            th Tipo unidad
            th Gerente
            th Status
            th Accion
        tbody
        each cc in listaCentrosCosotos
          tr
            td= cc.UDN   
            td= cc.nombreCentroCosto   
            td= cc.estado 
            td= cc.ciudad
            td= cc.nombreTipo
            td= cc.nombreGerente
            if cc.status == 1
              td Activo
            else
              td Inactivo
            td
              form.col-12(action="verCentroCosto"  method='POST')
                input(type='hidden' value= cc.idCentroCosto   name="IdCentroCosto")
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
                button(type="submit" class="btnVerUnidad" ) Ver unidad  


