doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de costo
    link(rel='stylesheet' href='/stylesheets/genericoUnoSolo.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaContactos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Contactos     
          a 
            form(action="verListaOficinas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Oficinas   
          a 
            form(action="verListaPuestos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Puestos                             
          if usuario.tipoUsuario == 1          
            a 
              form(action="verListaUsuarios"  method='POST')
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
                button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️


form(action="guardarCentroCosto" method='POST' class="abajo")

  .container2
    if tipoMensaje == 1 
      label(class="ok") Datos guardados correctamente
    else  
      if tipoMensaje == 2
        label(class="lblError") Algo salio mal, los datos no se guardaron

    if tipoMensaje == 3
      label(class="lblError") Ese nombre de correo electronico no es valido '#{correoMal} '
      br
      label(class="lblError") Solo debe de poner lo que va antes de @
      
    input(type='hidden' value= centroCosto.idCentroCosto   name="IdCentroCosto") 
    input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
    h3 Informacion del centro de costo
    .row
      .col-half
        h4 UDN
        .input-group.input-group-icon
          input(type="text", value = centroCosto.UDN , name="UDN" , placeholder="UDN", tabindex="1")

        h4 Empresa
        .input-group 
          select(tabindex="3", name = "IdEmpresa" )
            if centroCosto.idCentroCosto == 0
              //option(class="opt" value = listaEmpresas[0].IdEmpresa) #{listaEmpresas[0].nombreEmpresa}
              each e in listaEmpresas 
                if e.status == true
                  option(class="opt" value = e.idEmpresa) #{e.nombreEmpresa} 
            else
              option(class="opt" value = centroCosto.IdEmpresa) #{centroCosto.nombreEmpresa} 
              each e in listaEmpresas 
                if e.status == true
                  option(class="opt" value = e.idEmpresa) #{e.nombreEmpresa} 

        h4 Tipo Unidad
        .input-group 
          select(name="IdTipoUnidad")
            if centroCosto.idCentroCosto == 0
              each t in listaTipoUnidades 
                if t.status == true
                  option(class="opt" value = t.IdTipoUnidad) #{t.nombreTipo}
            else
              option(class="opt" value = centroCosto.IdTipoUnidad) #{centroCosto.nombreTipo} 
              each t in listaTipoUnidades 
                if t.status == true
                  option(class="opt" value = t.IdTipoUnidad) #{t.nombreTipo}

        h4 Gerente
          .input-group.input-group-icon
            input(type="text", name="nombreGerente" ,  value = centroCosto.nombreGerente , placeholder="Nombre Gerente")
            .input-icon
              i.fa.fa-envelope

        h4 Telefono
          .input-group.input-group-icon
            input(type="text", name="telefono", value = centroCosto.telefono , placeholder="max 10 numeros")
            //input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")   

            .input-icon
              i.fa.fa-envelope


      .col-half
        h4 Nombre Centro de Costo
          .input-group.input-group-icon
            input(tabindex="2",type="text", name ="nombreCentroCosto" , value = centroCosto.nombreCentroCosto , placeholder="Nombre Centro de Costo")
            .input-icon
              i.fa.fa-envelope
        
        h4 Franquicia
          .input-group 
            select(name="IdFranquicia")
              if centroCosto.IdFranquicia > 0
                option(class="opt" value = centroCosto.IdFranquicia) #{centroCosto.nombreFranquicia}                
              if centroCosto.IdFranquicia == 0 && usuario.IdFranquicia == 0
                each f in listaFranquicias    
                  if  f.status == true               
                    option(class="opt" value = f.idFranquicia) #{f.nombreFranquicia}
              if centroCosto.IdFranquicia == 0 && usuario.IdFranquicia > 0    
                each f in listaFranquicias 
                  if f.idFranquicia == usuario.IdFranquicia
                    if  f.status == true                   
                      option(class="opt" value = f.idFranquicia) #{f.nombreFranquicia}   
              if centroCosto.IdFranquicia > 0 && usuario.tipoUsuario == 1         
                each f in listaFranquicias 
                  if  f.status == true 
                    option(class="opt" value = f.idFranquicia) #{f.nombreFranquicia}                   
                                                                                                    
        h4 Status
        .input-group 
          select(name="status")
            if centroCosto.status == true
              option(class="opt" value = '1') Activo
              option(class="opt" value ='0') Inactivo
            else 
              option(class="opt" value = '0') Inactivo 
              option(class="opt" value = '1') Activo
        
        h4 SubGerente
          .input-group.input-group-icon
            input(type="text", name="nombresubGerente" value = centroCosto.nombresubGerente , placeholder="Nombre SubGerente")
            .input-icon
              i.fa.fa-envelope   

        h4 Email Gerente
        .input-group.input-group-icon
          input(type="text", name="mailGerente", value = centroCosto.mailGerente,  placeholder="Email", class="email1")
          input(type="email",name='mail', value = '@dominosgda.com',  placeholder="Email", class="email", readonly)          
          .input-icon
            i.fa.fa-key 
                          
  .container2
    h3 Informacion de Direccion centro de costo
    .row
      .col-half
        h4 Calle
          .input-group.input-group-icon
            input(type="text",name="direccion", value = centroCosto.direccion , placeholder="Callle")
            .input-icon
              i.fa.fa-user
        h4 Numero Exterior
          .input-group.input-group-icon
            input(type="text", name="numeroExterior",  value = centroCosto.numeroExterior , placeholder="Numero Exterior")
            .input-icon
              i.fa.fa-envelope
        

      .col-half
        h4 Numero Interior
            .input-group.input-group-icon
              input(type="text", name="numeroInterior",  value = centroCosto.numeroInterior , placeholder="Numero interior")
              .input-icon
                i.fa.fa-envelope

      .col-half
        h4 Colonia
        .input-group.input-group-icon
          input(type="text", name="colonia", value = centroCosto.colonia,  placeholder="Colonia")
          .input-icon
            i.fa.fa-key 

      

    .row 
      .col-half
        h4 Ciudad
        .input-group.input-group-icon
          input(type="text", name="ciudad", value = centroCosto.ciudad,  placeholder="Ciudad")
          .input-icon
            i.fa.fa-key 

        h4 Codigo Postal
          .input-group.input-group-icon
            input(type="text", name="CP"  value = centroCosto.CP , placeholder="Codigo Postal")
            .input-icon
              i.fa.fa-envelope
        
        
      .col-half
        h4 Estado 
          .input-group.input-group-icon
            input(type="text", name="estado",  value = centroCosto.estado , placeholder="Estado")
            .input-icon
              i.fa.fa-envelope
  
    .row
      
      .input-group
        //input(type="checkbox", id="terms")
        //label(for="terms" style="font-size: 80%;") Acepto los términos y condiciones de Softlife, y confirmo que he leído las políticas de privacidad. 
        br
        if usuario.tipoUsuario == 1 || agregar == 1
          input(type="submit", value="Guardar" class="brnGuardar")

.container3
  .row
    .input-group    
      if usuario.tipoUsuario == 1 || usuario.tipoUsuario == 2
        form(action="nuevoCentroCosto" method='POST')    
          input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")  
          input(type='hidden' value= 1   name="agregar")                   
          input(type="submit", value="Nuevo" class ="brnNuevo")

if centroCosto.mailGerente != ""
  .container3
    .row
      .input-group    
        form(action="armarCorreo" method='POST')    
            input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")  
            input(type="hidden", name="mail", value = centroCosto.mailGerente,  placeholder="Email", class="email1")                         
            input(type="submit", value="Mandar Correo" class ="mandarCoreo")       

.container3
  if centroCosto.telefono != "" 
    .col-half
      .input-group                    
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")   
        div(class="div")
          a(href="tel:"+centroCosto.telefono class ="conocerUnidad") Llamar a la unidad              

  if centroCosto.googleStreatView != "none"      
    .col-half
      .input-group   
        div(class="div") 
          a(href=centroCosto.googleStreatView target="_blank" class ="conocerUnidad") Conocer unidad 

.container3
  .row
    .input-group    
      form(action="verListaCentrosCosto" method='POST')    
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")                     
        input(type="submit", value="Cancelar" class ="btnCancelar")          